<h1><%= @user.name %></h1>

Status: <%= @user.status %>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<%= link_to "Back to user list", users_path %>
